@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Roboto Slab", sans-serif;
  margin: 0;
  padding: 0;
}

/* desktop */

@media screen and (min-width: 1280px) {
  .wrapper {
    height: 100%;
  }
  .block-one {
    padding-left: 60px;
    padding-top: 18px;
  }
  .sinhro {
    width: 112px;
    height: 66px;
    /* margin-top: 36px; */
  }
  .list-one {
    display: flex;
    justify-content: flex-start;
    margin-top: 44px;
  }
  .ops {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
  }
  .list-one img {
    display: flex;
    flex-wrap: nowrap;
    width: 22px;
    height: 22px;
    padding-right: 10px;
  }
  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 115%;
    color: #000000;
    padding-right: 30px;
  }
  h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 101.38%;
    margin-top: 30px;
    margin-bottom: 0;
    color: #000000;
    width: 628px;
    margin-right: 0;
  }
  .second {
    position: static;
    display: block;
    justify-content: space-between;
  }
  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }
  .man-order {
    width: 304px;
    height: 356px;
  }
  .men {
    position: absolute;
    width: 304px;
    height: 356px;
    left: 830px;
    top: 223px;
  }
  .block-blue {
    background-color: #1E4681;
    color: white;
    border-radius: 2.32986px;
    width: 483px;
    height: 200px;
    margin-left: 0;
    font-size: 11px;
    line-height: 130%;
    font-family: Roboto Slab;
    margin-top: 200px;
    margin-left: 250px;
  }
  .block-blue p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 7px;
    line-height: 130%;
    /* width: 200px; */
    height: 120px;
    color: #ffffff;
  }
  .block-blue span {
    font-family: Roboto;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 10px;
    padding-right: 7px;
    padding-top: 5px;
  }
  .kurs {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 173px;
    margin-bottom: 20px;
    color: #000000;
  }
  .wrappers {
    display: block;
    justify-content: space-between;
    position: static;
  }
  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
  }
  .text-block-one {
    width: 662px;
    height: 374px;
    padding-top: 12px;
  }
  .picture_video_2 {
    position: absolute;
    left: 973px;
    top: 1100px;
    /* padding-top: 17px;
    padding-left: 66px;
    margin-top: 60px;
    padding-bottom: 20px; */
  }
  .logo {
    width: 314px;
    height: 315px;
    /* margin-right: 153px; */
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
  }
  .logo-two {
    width: 232px;
    height: 203px;
  }
  .size-secret {
    width: 232px;
    height: 203px;
  }
  .secret {
    position: absolute;
    width: 232px;
    height: 203px;
    left: 65px;
    top: 1580px;
    display: block;
  }
  .tt {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 50px;
    margin-top: 150px;
    margin-left: 400px;
  }
  .ty {
    margin-right: 90px;
  }
  .tt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 0px;
  }
  .tt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
    margin-top: 2px;
    width: 150px;
  }
  .forma {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 200px;
    color: #000000;
  }
  .format-lessons {
    margin-top: 100px;
    padding-top: 10px;
    display: flex;
    /* display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;*/
  }
  .format-lessons span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1e4681;
  }
  .format-lessons p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .n {
    margin-left: 0;
    margin-right: 120px;
  }
  .whats-new {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 170px;
    color: #000000;
  }
  ul {
    margin-top: 21px;
    padding-left: 6px;
    font-size: 24px;
    width: 662px;
  }
  ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
  }
  ::marker {
    font-size: 20px;
  }
  .programs {
    padding-left: 60px;
    padding-top: 200px;
    padding-bottom: 90px;
    margin-bottom: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
  }
  .painters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 41px;
    padding-left: 95px;
    /* padding: 30px 95px 24px 90px; */
  }
  .painters div img {
    width: 399px;
    height: 160px;
    margin: 0;
  }
  .painters div {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .ui {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    margin-left: 9px;
    margin-top: 5px;
  }
  .uii {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
    margin-left: 9px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .uu {
    margin: 15px 0px 10px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }
  .uuu {
    margin: 15px 0px 10px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }
  .person {
    margin-top: 40px;
    background: #EFEFEF;
    padding-left: 122px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 100px;
    margin-right: -100px;
  }
  .persons {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    width: 987px;
    height: 93px;
  }
  .block-person {
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 451px;
    width: 791px;
  }
  .block-person p {
    padding: 40px 46px 0px 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    width: 700px;
  }
  .info-about-person {
    display: flex;
    margin-left: 12px;
  }
  .info-about-person p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    color: #000000;
    padding: 0px 10px 10px 5px;
    margin-bottom: 0px;
  }
  .women {
    width: 190px;
    height: 169px;
    padding-bottom: 15px;
  }
  .fb {
    width: 32px;
    height: 30px;
    margin-left: 5px;
    margin-top: 15px;
  }
  .money {
    background: #9DC9C8;
    padding-left: 35px;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 140px;
    width: 1440px;
  }
  .month {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 0;
    width: 908px;
    height: 66px;
    margin-left: 85px;
    margin-right: 0px;
    padding-top: 20px;
  }
  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 22px;
    margin-bottom: 0;
    margin-left: 85px;
    padding-top: 50px;
  }
  .count {
    margin-top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 101.38%;
    color: #000000;
    margin-left: 85px;
    margin-bottom: 0;
  }
  .info-money {
    display: flex;
    padding-top: 50px;
  }
  .iii {
    margin-left: 85px;
  }
  .big-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .small-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
    color: #000000;
    width: 294px;
    /* height: 47px; */
    margin-top: 0px;
  }
  footer {
    padding-left: 35px;
    width: 1440px;
    height: 390px;
    background-color: black;
  }
  .sinhro-white {
    width: 115px;
    height: 68px;
    margin-top: 40px;
    margin-left: 85px;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-left: 85px;
  }
  .icons img {
    width: 34px;
    height: 34px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .workaround {
    margin-right: 600px;
  }
  .adress {
    display: flex;
    align-items: flex-end;
    /* align-items: baseline; */
    margin-right: 185px;
    /* flex-direction: column;
  flex-wrap: wrap; */
  }
  .cont span {
    color: #FFFFFF;
    padding-left: 15px;
    font-size: 22px;
    /* margin-bottom: 10px; */
  }
  .cont img {
    width: 25px;
    height: 25px;
    /* margin-bottom: 15px; */
  }
  .cont {
    width: 120px;
    height: 20px;
    color: #ffffff;
    width: 300px;
    height: 85px;
    margin-bottom: 50px;
  }
  .logotip {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    padding-top: 150px;
    color: white;
    margin-left: 85px;
  }
}

/* tablet */

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .wrapper {
    height: 100%;
  }
  .block-one {
    padding-left: 70.06px;
  }
  .sinhro {
    width: 64.86px;
    height: 38.23px;
    margin-top: 22px;
  }
  .list-one {
    display: flex;
    margin-top: 57.92px;
  }
  .ops {
    margin-left: 14.48px;
  }
  .list-one img {
    width: 12.74px;
    height: 12.74px;
  }
  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 115%;
    color: #000000;
    margin-left: 5px;
  }
  h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 7.51px;
    margin-bottom: 0;
  }
  .second {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }
  .man-order {
    width: 176.07px;
    height: 206.18px;
    /* margin-top: 138.99px; */
    margin-right: 142.48px;
  }
  .el {
    border-radius: 50px;
    top: 185px;
    width: 157.69px;
    height: 41.75px;
    background: #EFEFEF;
    right: 139px;
    position: absolute;
    z-index: -1px;
    z-index: -1;
  }
  .block-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280.11px;
    height: 115.83px;
    background: #1e4681;
    border-radius: 5px;
    margin-left: 237px;
    margin-top: 70px;
  }
  .block-blue div {
    width: 249.38px;
    height: 65.45px;
    margin: 11.15px 15.65px 39.24px 15.08px;
  }
  .block-blue p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
  }
  .block-blue span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
    margin-left: 134px;
  }
  .wrappers {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
  }
  .text-block-one {
    width: 662px;
    height: 374px;
  }
  .logo {
    width: 314px;
    height: 315px;
  }
  .logo-second {
    width: 366px;
    height: 59px;
    top: 100px;
    display: block;
    position: absolute;
    right: -33px;
    top: 294px;
    z-index: -1;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
  }
  .logo-two {
    width: 232px;
    height: 203px;
  }
  .tt {
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    margin-bottom: 157px;
    margin-right: 250px;
  }
  .tt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }
  .tt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
  }
}

/* mobile_version */

@media screen and (min-width: 320px) and (max-width: 991px) {
  .wrapper {
    height: 100%;
  }
  .block-one {
    padding-left: 35px;
  }
  .sinhro {
    width: 52px;
    height: 30px;
    margin-top: 36px;
  }
  .list-one {
    display: flex;
    justify-content: flex-start;
    margin-top: 44px;
  }
  .ops {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
  }
  .list-one img {
    display: flex;
    flex-wrap: nowrap;
    width: 13px;
    height: 13px;
    padding-right: 5px;
  }
  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    color: #000000;
    padding-right: 11px;
  }
  h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 101.38%;
    margin-top: 8px;
    margin-bottom: 0;
    color: #000000;
    width: 292px;
  }
  .second {
    position: static;
    display: block;
    justify-content: space-between;
  }
  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    color: #000000;
  }
  .men {
    width: 141px;
    height: 165px;
    padding-left: 134px;
  }
  .block-blue {
    background-color: #1E4681;
    color: white;
    border-radius: 2.32986px;
    width: 225.36px;
    height: 93px;
    margin-left: 0;
    font-size: 11px;
    line-height: 130%;
    font-family: Roboto Slab;
    margin-top: 47px;
  }
  .block-blue p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 7px;
    line-height: 130%;
    width: 200px;
    height: 52px;
    color: #ffffff;
  }
  .block-blue span {
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    line-height: 130%;
    padding-bottom: 10px;
    padding-right: 7px;
    padding-top: 5px;
  }
  .kurs {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    margin-top: 75px;
    margin-bottom: 0;
    color: #000000;
  }
  .wrappers {
    display: block;
    justify-content: space-between;
    position: static;
  }
  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }
  .text-block-one {
    width: 308px;
    height: 174px;
    padding-top: 12px;
  }
  .picture_video_2 {
    padding-top: 17px;
    padding-left: 66px;
    margin-top: 60px;
    padding-bottom: 20px;
  }
  .logo {
    width: 146px;
    height: 146px;
    /* margin-right: 153px; */
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
  }
  .logo-two {
    width: 232px;
    height: 203px;
  }
  .secret {
    display: block;
    display: none;
  }
  .tt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 200px;
  }
  .tt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 0px;
  }
  .tt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
    margin-top: 2px;
  }
  .forma {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    margin-top: 60px;
    color: #000000;
  }
  .format-lessons {
    padding-top: 10px;
    /* display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;*/
  }
  .format-lessons span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #1e4681;
  }
  .format-lessons p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .nn {
    margin-left: 0;
  }
  .nnn {
    margin-left: 0;
  }
  .whats-new {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    margin-top: 73px;
    color: #000000;
  }
  ul {
    margin-top: 21px;
    padding-left: 6px;
    font-size: 12px;
    width: 299px;
  }
  ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }
  ::marker {
    font-size: 8px;
  }
  .programs {
    padding-left: 35px;
    padding-top: 67px;
    margin-bottom: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
  }
  .painters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 41px;
    padding-left: 95px;
    /* padding: 30px 95px 24px 90px; */
  }
  .painters div img {
    width: 185.92px;
    height: 74px;
    margin: 0;
  }
  .painters div {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 24px;
  }
  .ui {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    margin-left: 9px;
    margin-top: 5px;
  }
  .uii {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    margin-left: 9px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .uu {
    margin: 15px 0px 10px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
  }
  .uuu {
    margin: 15px 0px 10px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
  }
  .person {
    margin-top: 30px;
    background: #EFEFEF;
    padding-left: 36px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 100px;
    margin-right: -100px;
  }
  .persons {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    width: 257px;
    height: 69px;
  }
  .block-person {
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 248px;
  }
  .block-person p {
    padding: 18px 19px 0px 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    color: #000000;
  }
  .info-about-person {
    display: flex;
    margin-left: 12px;
  }
  .info-about-person p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
    padding: 0px 10px 10px 5px;
    margin-bottom: 0px;
  }
  .women {
    width: 80px;
    height: 70px;
  }
  .fb {
    width: 14px;
    height: 15px;
    margin-left: 5px;
  }
  .money {
    background: #9DC9C8;
    padding-left: 35px;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 72px;
    width: 673px;
  }
  .month {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 0;
    width: 224px;
    height: 63px;
  }
  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 22px;
    margin-bottom: 0;
  }
  .count {
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 101.38%;
    color: #000000;
  }
  .info-money {
    display: flex;
  }
  .iii {
    margin-left: 31px;
  }
  .big-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .small-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    color: #000000;
    width: 138px;
    height: 47px;
    margin-top: 0px;
  }
  footer {
    padding-left: 35px;
    width: 394px;
    background-color: black;
    height: 254px;
  }
  .sinhro-white {
    width: 52px;
    height: 30px;
    margin-top: 23px;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 10px;
  }
  .icons img {
    width: 23px;
    height: 23px;
    padding-right: 8px;
  }
  .adress {
    display: flex;
    align-items: baseline;
    margin-right: 185px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .cont span {
    color: #FFFFFF;
    padding-left: 15px;
    font-size: 12px;
  }
  .cont img {
    width: 15px;
    height: 15px;
  }
  .cont {
    width: 120px;
    height: 20px;
    color: #ffffff;
    margin-top: 47px;
    width: 146px;
    height: 41px;
  }
  .logotip {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin: 0;
    padding-top: 50px;
    color: white;
  }
}