@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Roboto Slab", sans-serif;
  margin: 0;
  padding: 0;
}

/* desktop */

@media screen and (min-width: 1280px) {
  .wrapper {
    height: 100%;
    width: 100%;
  }
  .block-one {

   
    padding-left: 3.75em;      
    padding-top: 1.125em;
  }
  .sinhro {
    width: 8.75vw;
    height: 5.16vw;
    /* margin-top: 36px; */
  }
  .list-one {
    display: flex;
    justify-content: flex-start;
    margin-top: 3.44vw;
  }
  .ops {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
  }
  .list-one img {
    display: flex;
    flex-wrap: nowrap;
    width: 1.72vw;
    height: 1.72vw;
    padding-right: 0.78vw;
  }
  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.375em;
    line-height: 115%;
    color: #000000;
    padding-right: 30px;
  }
  h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 5em;
    line-height: 101.38%;
    margin-top: 2.34vw;
    margin-bottom: 0;
    color: #000000;
    width: 49.06vw;
    margin-right: 0;
  }
  .second {
    position: static;
    display: block;
    justify-content: space-between;
  }
  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 150%;
    color: #000000;
  }
  .man-order {
    width: 23.75vw;
    height: 27.81vw;
  }
  .men {
    position: absolute;
    width: 23.75vw;
    height: 27.81vw;
    left: 64.84vw;
    top: 17.42vw;
  }
  .block-blue {
    background-color: #1E4681;
    color: white;
    border-radius: 2.32986px;
    width: 37.73vw;
    height: 15.63vw;
    margin-left: 0;
    font-size: 0.6875em;
    line-height: 130%;
    font-family: Roboto Slab;
    margin-top: 15.63vw;
    margin-left: 19.53vw;
  }
  .block-blue p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5625em;
    padding-left: 0.94vw;
    padding-top: 0.70vw;
    padding-bottom: 0.55vw;
    line-height: 130%;
    /* width: 200px; */
    height: 9.38vw;
    color: #ffffff;
  }
  .block-blue span {
    font-family: Roboto;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 130%;
    padding-bottom: 0.78vw;
    padding-right: 0.55vw;
    padding-top: 0.39vw;
  }
  .kurs {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4375em;
    line-height: 101.38%;
    margin-top: 13.52vw;
    margin-bottom: 1.56vw;
    color: #000000;
  }
  .wrappers {
    display: block;
    justify-content: space-between;
    position: static;
  }
  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 150%;
    color: #000000;
  }
  .text-block-one {
    width: 51.72vw;
    height: 29.22vw;
    padding-top: 0.94vw;
  }
  .picture_video_2 {
    position: absolute;
    left: 76.02vw;
    top: 85.94vw;
    /* padding-top: 17px;
    padding-left: 66px;
    margin-top: 60px;
    padding-bottom: 20px; */
  }
  .logo {
    width: 24.53vw;
    height: 24.61vw;
    /* margin-right: 153px; */
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 3.4375em;
    line-height: 101.38%;
    color: #000000;
  }
  .logo-two {
    width: 232px;
    height: 203px;
  }
  .size-secret {
    width: 18.13vw;
    height: 15.86vw;
  }
  .secret {
    position: absolute;
    width: 18.13vw;
    height: 15.86vw;
    left: 5.08vw;
    top: 123.44vw;
    display: block;
  }
  .tt {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 3.91vw;
    margin-top: 11.72vw;
    margin-left: 31.25vw;
  }
  .ty {
    margin-right: 7.03vw;
  }
  .tt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5625em;
    line-height: 130%;
    color: #000000;
    margin-bottom: 0px;
  }
  .tt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 130%;
    color: #000000;
    margin-top: 0.16vw;
    width: 11.72vw;
  }
  .forma {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4375em;
    line-height: 101.38%;
    margin-top: 15.63vw;
    color: #000000;
  }
  .format-lessons {
    margin-top: 7.81vw;
    padding-top: 0.78vw;
    display: flex;
    /* display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;*/
  }
  .format-lessons span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5625em;
    line-height: 130%;
    color: #1e4681;
  }
  .format-lessons p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 130%;
    color: #000000;
    margin-top: 0.39vw;
    margin-bottom: 1.95vw;
  }
  .n {
    margin-left: 0;
    margin-right: 9.38vw;
  }
  .whats-new {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4375em;
    line-height: 101.38%;
    margin-top: 13.28vw;
    color: #000000;
  }
  ul {
    margin-top: 1.64vw;
    padding-left: 1.64vw;
    font-size: 1.5em;
    width: 51.72vw;
  }
  ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 150%;
    color: #000000;
  }
  ::marker {
    font-size: 1.25em;
  }
  .programs {
    padding-left: 5.86vw;
    padding-top: 15.63vw;
    padding-bottom: 7.03vw;
    margin-bottom: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4375em;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
  }
  .painters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3.20vw;
    padding-left: 3.91vw;
    width: 112.50vw;
    /* padding: 30px 95px 24px 90px; */
  }
  .painters div img {
    width: 31.17vw;
    height: 12.50vw;
    margin: 0;
  }
  .painters div {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 2.34vw;
    margin-right: 2.34vw;
  }
  .ui {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.875em;
    line-height: 130%;
    color: #000000;
    margin-left: 0.70vw;
    margin-top: 0.39vw;
  }
  .uii {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5625em;
    line-height: 130%;
    color: #000000;
    margin-left: 0.70vw;
    margin-top: 0.39vw;
    margin-bottom: 0;
  }
  .uu {
    margin: 15px 0px 10px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5625em;
    line-height: 130%;
    color: #000000;
  }
  .uuu {
    margin: 15px 0px 10px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5625em;
    line-height: 130%;
    color: #000000;
  }
  .person {
    margin-top: 3.13vw;
    background: #EFEFEF;
    padding-left: 5.86vw;
    padding-top: 1.95vw;
    padding-bottom: 2.34vw;
    padding-right: 7.81vw;
    margin-right: -7.81vw;
    width: 112.50vw;
  }
  .persons {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4375em;
    line-height: 101.38%;
    color: #000000;
    width: 77.11vw;
    height: 7.27vw;
  }
  .block-person {
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 35.23vw;
    width: 61.80vw;
  }
  .block-person p {
    padding: 40px 46px 0px 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 150%;
    color: #000000;
    width: 54.69vw;
  }
  .info-about-person {
    display: flex;
    margin-left: 0.94vw;
  }
  .info-about-person p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 1.875em;
    line-height: 101.38%;
    color: #000000;
    padding: 0px 10px 10px 5px;
    margin-bottom: 0px;
  }
  .women {
    width: 14.84vw;
    height: 13.20vw;
    padding-bottom: 1.17vw;
  }
  .fb {
    width: 2.50vw;
    height: 2.34vw;
    margin-left: 0.39vw;
    margin-top: 1.17vw;
  }
  .money {
    background: #9DC9C8;
    padding-left: 2.73vw;
    padding-top: 3.13vw;   
    padding-right: 2.50vw;
    padding-bottom: 10.94vw;
    width: 112.50vw;
  }
  .month {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4375em;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 0;
    width: 70.94vw;
    height: 5.16vw;
    margin-left: 3.13vw;
    margin-right: 0px;
    padding-top: 1.56vw;
  }
  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5625em;
    line-height: 101.38%;
    color: #000000;
    margin-top: 1.72vw;
    margin-bottom: 0;
    margin-left: 3.13vw;
    padding-top: 3.91vw;
  }
  .count {
    margin-top: 0.39vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 5em;
    line-height: 101.38%;
    color: #000000;
    margin-left: 6.64vw;
    margin-bottom: 0;
  }
  .info-money {
    display: flex;
    padding-top: 50px;
  }
  .iii {
    margin-left: 3.91vw;
  }
  .big-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5625em;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 1.17vw;
  }
  .small-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 101.38%;
    color: #000000;
    width: 22.97vw;
    /* height: 47px; */
    margin-top: 0px;
  }
  footer {
    padding-left: 2.73vw;
    width: 112.50vw;
    height: 30.47vw;
    background-color: black;
  }
  .sinhro-white {
    width: 8.98vw;
    height: 5.31vw;
    margin-top: 3.13vw;
    margin-left: 6.64vw;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    padding-top: 0.39vw;
    margin-left: 6.64vw;
  }
  .icons img {
    width: 2.66vw;
    height: 2.66vw;
    margin-right: 1.56vw;
    margin-top: 1.56vw;
  }
  .workaround {
    margin-right: 46.88vw;
  }
  .adress {
    display: flex;
    align-items: flex-end;
    /* align-items: baseline; */
    margin-right: 14.45vw;
    /* flex-direction: column;
  flex-wrap: wrap; */
  }
  .cont span {
    color: #FFFFFF;
    padding-left: 1.17vw;
    font-size: 1.375em;
    /* margin-bottom: 10px; */
  }
  .cont img {
    width: 1.95vw;
    height: 1.95vw;
    /* margin-bottom: 15px; */
  }
  .cont {
    width: 1.95vw;
    height: 1.56vw;
    color: #ffffff;
    width: 23.44vw;
    height: 6.64vw;
    margin-bottom: 3.91vw;
  }


  .logotip {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    margin: 0;
    padding-top: 11.72vw;
    color: white;
    margin-left: 6.64vw;
  }
}

/* tablet */

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .wrapper {
    height: 100%;
    width: 100%;
  }
  .block-one {
    padding-left: 7.06vw;
  }
  .sinhro {
    width: 6.55vw;
    height: 3.83vw;
    margin-top: 2.22vw;
  }
  .list-one {
    display: flex;
    margin-top: 5.85vw;
  }
  .ops {
    margin-right: 2.02vw;
  }
  .list-one img {
    width: 1.31vw;
    height: 1.31vw;
  }
  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 115%;
    color: #000000;
    margin-left: 0.50vw;
  }
  h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0.81vw;
    margin-bottom: 1.51vw;
  }
  .second {
    /* position: relative;
    display: flex;
    justify-content: space-between; */
  }
  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }
  .man-order {
    position: absolute;
width: 17.74vw;
height: 20.77vw;
left: 51.92vw;
top: 14.01vw;
  }
  .el {
    border-radius: 50px;
    top: 18.65vw;
    width: 15.93vw;
    height: 4.23vw;
    background: #EFEFEF;
    right: 14.01vw;
    position: absolute;
    z-index: -1px;
    z-index: -1;
  }
  .block-blue {
   
    width: 28.23vw;
    height: 11.59vw;
    background: #1e4681;
    border-radius: 3px;
    margin-left: 20.16vw;
    margin-top: 10.08vw;
    padding-left: 1.51vw;
    padding-top: 1.01vw;
  }

  .block-blue p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
  }
  .block-blue span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
    margin-left: 13.51vw;
  }

  .kurs {
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 32px;
margin-top: 10.08vw;
  }


  .wrappers {
    display: flex;
    /* justify-content: space-between;
    position: relative; */
    
  }
  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
  }
  .text-block-one {
    width: 38.61vw;
    margin-bottom: 4.03vw;
    
  }

  .logo {
    width: 18.25vw;
    height: 18.35vw;
    margin-left: 12.10vw;
    margin-top: 2.02vw;
  }


  .size-secret {

  width: 13.51vw;
  height: 11.79vw;
  position: absolute;
  }

  


  .logo-second {
    width: 36.90vw;
    height: 5.95vw;
    top: 10.08vw;
    display: block;
    position: absolute;
    right: -3.33vw;
    top: 29.64vw;
    z-index: -1;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
  }
  .logo-two {
    width: 23.39vw;
    height: 20.46vw;
  }
  .tt {
    display: flex;
    margin-left: 22.18vw;
    margin-top: 2.02vw;
    /* margin-right: 50px; */
    /* justify-content: space-around; */
    /* margin-top: 94px;
    margin-bottom: 157px;
    margin-right: 50px; */
  }

.ty {

margin-right: 5.04vw;

}

  .tt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 0.50vw;
  }
  .tt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    color: #000000;
    margin-top: 0;
  }



.forma {

margin-top: 11.09vw;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 101.38%;

}

.format-lessons {
  margin-top: 8.06vw;
  padding-top: 1.01vw;
  display: flex;
  /* display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;*/
}
.format-lessons span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 130%;
  color: #1e4681;
}
.format-lessons p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 130%;
  color: #000000;
  margin-top: 0.50vw;
  margin-bottom: 2.52vw;
}
.n {
  margin-left: 0;
  margin-right: 8.06vw;
}
.whats-new {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 101.38%;
  margin-top: 8.17vw;
  color: #000000;
}
ul {
  margin-top: 2.12vw;
  padding-left: 0.60vw;
  font-size: 24px;
  width: 66.73vw;
}
ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
::marker {
  font-size: 10px;
}
.programs {
  padding-left: 7.06vw;
  padding-top: 12.10vw;
  padding-bottom: 9.07vw;
  margin-bottom: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 101.38%;
  color: #000000;
  margin-top: 0;
}
.painters {
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 41px; */
  padding-left: 48px;
  /* padding: 30px 95px 24px 90px; */
}
.painters div img {
  width: 23.29vw;
  height: 9.27vw;
  margin: 0;
}
.painters div {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  margin-bottom: 3.02vw;
  margin-right: 3.02vw;
}
.ui {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 130%;
  color: #000000;
  margin-left: 0.91vw;
  margin-top: 0.50vw;
}
.uii {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  margin-left: 0.91vw;
  margin-top: 0.50vw;
  margin-bottom: 0;
}
.uu {
  margin: 15px 0px 10px 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}
.uuu {
  margin: 15px 0px 10px 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}
.person {
  margin-top: 4.03vw;
  background: #EFEFEF;
  padding-left: 7.06vw;
  padding-top: 2.52vw;
  padding-bottom: 5.04vw;
  padding-right: 10.08vw;
  margin-right: -19.15vw;
}
.persons {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 101.38%;
  color: #000000;
  width: 99.50vw;
  height: 9.38vw;
  margin-bottom: 0;
}
.block-person {
  background: #FFFFFF;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 26.31vw;
  width: 46.17vw;
}
.block-person p {
  padding: 20px 0px 0px 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  width: 43.85vw;
}
.info-about-person {
  display: flex;
  margin-left: 1.21vw;
}
.info-about-person p {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 101.38%;
  color: #000000;
  padding: 0px 10px 0px 5px;
  margin-bottom: 0px;

}
.women {
  width: 11.09vw;
  height: 9.78vw;
  
}
.fb {
  width: 1.81vw;
  height: 1.81vw;
  margin-left: 0.50vw;
  margin-top: 1.51vw;
}
.money {
  background: #9DC9C8;
  /* padding-left: 35px; */
  padding-top: 4.03vw;
  /* padding-right: 32px; */
  padding-bottom: 14.11vw;
  width: 145.16vw;
}
.month {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 101.38%;
  color: #000000;
  margin-bottom: 0;
  width: 91.53vw;
  height: 6.65vw;
  margin-left: 8.06vw;
  margin-right: 0px;
  padding-top: 2.02vw;
}
.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 101.38%;
  color: #000000;
  margin-top: 2.22vw;
  margin-bottom: 0;
  margin-left: 8.06vw;
  /* padding-top: 50px; */
}
.count {
  margin-top: 0.50vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 101.38%;
  color: #000000;
  margin-left: 8.06vw;
  margin-bottom: 0;
}
.info-money {
  display: flex;
  padding-top: 5.04vw;
}
.iii {
  margin-left: 8.06vw;
  width: 15.12vw;
}
.big-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 101.38%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 1.01vw;
}
.small-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 101.38%;
  color: #000000;
  width: 29.64vw;
  /* height: 47px; */
  margin-top: 0px;
}
footer {
  padding-left: 3.53vw;
  width: 145.16vw;
  height: 39.31vw;
  background-color: black;
}
.sinhro-white {
  width: 6.65vw;
  height: 4.03vw;
  margin-top: 4.03vw;
  margin-left: 4.54vw;
}
.icons {
  display: flex;
  justify-content: space-between;
  padding-top: 0.50vw;
  margin-left: 4.54vw;
}
.icons img {
  width: 2.02vw;
  height: 2.02vw;
  margin-right: 2.02vw;
  margin-top: 2.02vw;
}
.workaround {
  margin-right: 60.48vw;
}
.adress {
  display: flex;
  align-items: flex-end;
  /* align-items: baseline; */
  /* margin-right: 185px; */

  /* flex-direction: column;
flex-wrap: wrap; */
}
.cont span {
  color: #FFFFFF;
  padding-left: 1.51vw;
  font-size: 14px;
  /* margin-bottom: 10px; */
}
.cont img {
  width: 1.51vw;
  height: 1.51vw;
  /* margin-bottom: 15px; */
}
.cont {
  margin-right: 10.08vw;
  height: 2.02vw;
  color: #ffffff;
  width: 17.14vw;
  /* height: 85px; */
  margin-bottom: 7.06vw;
}
.logotip {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  padding-top: 20.16vw;
  color: white;
  margin-left: 4.54vw;
}

.workaround {

margin-right: 40.32vw;


}

}

/* mobile_version */

@media screen and (min-width: 320px) and (max-width: 991px) {
  .wrapper {
    height: 100%;
    width: 100%;
  }
  .block-one {
    padding-left: 10.94vw;
  }
  .sinhro {
    width: 16.25vw;
    height: 9.38vw;
    margin-top: 11.25vw;
  }
  .list-one {
    display: flex;
    justify-content: flex-start;
    margin-top: 13.75vw;
  }
  .ops {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
  }
  .list-one img {
    display: flex;
    flex-wrap: nowrap;
    width: 4.06vw;
    height: 4.06vw;
    padding-right: 1.56vw;
  }
  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    color: #000000;
    padding-right: 3.44vw;
  }
  h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 101.38%;
    margin-top: 2.50vw;
    margin-bottom: 0;
    color: #000000;
    width: 91.25vw;
  }
  .second {
    position: static;
    display: block;
    justify-content: space-between;
  }
  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    color: #000000;
  }
  .men {
    width: 44.06vw;
    height: 51.56vw;
    padding-left: 41.88vw;
  }
  .block-blue {
    background-color: #1E4681;
    color: white;
    border-radius: 2.32986px;
    width: 70.31vw;
    height: 29.06vw;
    margin-left: 0;
    font-size: 11px;
    line-height: 130%;
    font-family: Roboto Slab;
    margin-top: 14.69vw;
  }
  .block-blue p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    padding-left: 3.75vw;
    padding-top: 2.81vw;
    padding-bottom: 2.19vw;
    line-height: 130%;
    width: 62.50vw;
    height: 16.25vw;
    color: #ffffff;
  }
  .block-blue span {
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    line-height: 130%;
    padding-bottom: 3.13vw;
    padding-right: 2.19vw;
    padding-top: 1.56vw;
  }
  .kurs {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    margin-top: 23.44vw;
    margin-bottom: 0;
    color: #000000;
  }
  .wrappers {
    display: block;
    justify-content: space-between;
    position: static;
  }
  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }
  .text-block-one {
    width: 96.25vw;
    height: 54.38vw;
    padding-top: 3.75vw;
  }
  .picture_video_2 {
    padding-top: 5.31vw;
    padding-left: 20.63vw;
    margin-top: 18.75vw;
    padding-bottom: 6.25vw;
  }
  .logo {
    width: 45.63vw;
    height: 45.63vw;
    /* margin-right: 153px; */
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
  }
  .logo-two {
    width: 72.50vw;
    height: 63.44vw;
  }
  .secret {
    display: block;
    display: none;
  }
  .tt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 62.50vw;
  }
  .tt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 0px;
  }
  .tt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
    margin-top: 0.63vw;
  }
  .forma {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    margin-top: 18.75vw;
    color: #000000;
  }
  .format-lessons {
    padding-top: 3.13vw;
    /* display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;*/
  }
  .format-lessons span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #1e4681;
  }
  .format-lessons p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
    margin-top: 1.56vw;
    margin-bottom: 7.81vw;
  }
  .nn {
    margin-left: 0;
  }
  .nnn {
    margin-left: 0;
  }
  .whats-new {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    margin-top: 22.81vw;
    color: #000000;
  }
  ul {
    margin-top: 6.56vw;
    padding-left: 1.88vw;
    font-size: 12px;
    width: 93.44vw;
  }
  ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }
  ::marker {
    font-size: 8px;
  }
  .programs {
    padding-left: 10.94vw;
    padding-top: 20.94vw;
    margin-bottom: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
  }
  .painters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12.81vw;
    padding-left: 29.69vw;
    /* padding: 30px 95px 24px 90px; */
  }
  .painters div img {
    width: 58.13vw;
    height: 23.13vw;
    margin: 0;
  }
  .painters div {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 7.50vw;
  }
  .ui {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    margin-left: 2.81vw;
    margin-top: 1.56vw;
  }
  .uii {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    margin-left: 2.81vw;
    margin-top: 1.56vw;
    margin-bottom: 0;
  }
  .uu {
    margin: 15px 0px 10px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
  }
  .uuu {
    margin: 15px 0px 10px 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    color: #000000;
  }
  .person {
    margin-top: 9.38vw;
    background: #EFEFEF;
    padding-left: 11.25vw;
    padding-top: 7.81vw;
    padding-bottom: 9.38vw;
    padding-right: 31.25vw;
    margin-right: -31.25vw;
  }
  .persons {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    width: 80.31vw;
    height: 21.56vw;
  }
  .block-person {
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 77.50vw;
  }
  .block-person p {
    padding: 18px 19px 0px 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    color: #000000;
  }
  .info-about-person {
    display: flex;
    margin-left: 3.75vw;
  }
  .info-about-person p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
    padding: 0px 10px 10px 5px;
    margin-bottom: 0px;
  }
  .women {
    width: 25vw;
    height: 23.44vw;
  }
  .fb {
    width: 4.38vw;
    height: 4.69vw;
    margin-left: 1.56vw;
  }
  .money {
    background: #9DC9C8;
    padding-left: 10.94vw;
    padding-top: 12.50vw;
    padding-right: 10vw;
    padding-bottom: 22.50vw;
    width: 131.88vw;
  }
  .month {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 0;
    width: 70vw;
    height: 19.69vw;
  }
  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 6.88vw;
    margin-bottom: 0;
  }
  .count {
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10.31vw;
    line-height: 101.38%;
    color: #000000;
  }
  .info-money {
    display: flex;
  
  }
  .iii {
    margin-right: 9.69vw;
  }
  .big-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 1.56vw;
  }
  .small-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    color: #000000;
    width: 43.13vw;
    height: 14.69vw;
    margin-top: 0px;
  }
  footer {
    padding-left: 10.94vw;
    width: 123.13vw;
    background-color: black;
    height: 79.38vw;
  }
  .sinhro-white {
    width: 16.25vw;
    height: 9.38vw;
    margin-top: 7.19vw;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    padding-top: 1.56vw;
    padding-right: 3.13vw;
  }
  .icons img {
    width: 7.19vw;
    height: 7.19vw;
    padding-right: 2.50vw;
  }
  .adress {
    display: flex;
    align-items: baseline;
    margin-right: 57.81vw;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .cont span {
    color: #FFFFFF;
    padding-left: 4.69vw;
    font-size: 12px;
  }
  .cont img {
    width: 4.69vw;
    height: 4.69vw;
  }
  .cont {
    width: 37.50vw;
    height: 6.25vw;
    color: #ffffff;
    margin-top: 14.69vw;
    width: 45.63vw;
    height: 12.81vw;
  }
  .logotip {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin: 0;
    padding-top: 15.63vw;
    color: white;
  }
}

